/vendor/
node_modules/
npm-debug.log
yarn-error.log
.idea
bootstrap/compiled.php
app/storage/

public/mix-manifest.json
public/storage
public/hot
public/css
public/js
public/mix-manifest.json
storage/logs/laravel.log
.vscode
.vscode/*

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/storage/logs
.DS_Store
